body {
  font-family: "Segoe UI", "Helvetica", Arial;
}

header  {
  max-width: 100%;
  max-height: auto;
  align-content: center;
  background: #FDAC53;
} 

.hero {
  background-image: url("images/hero.png");
  max-width: 100vw;
  height: 35vw;
  object-fit: contain;
}
.hero2 {
  background-image: url("images/hero.png");
  max-width: 100vw;
  height:20vw;
  object-fit:contain;
}



header h1 {
  position: relative;
  top: 20%;
  height: 130px;
  width: auto;
  background-color: #FDAC53;
  opacity: 75%;
  padding-left: 35vw;
  margin: auto;
  font-weight: bold;
  font-size: 15vh;
  font-family: 'Satisfy', cursive;
  color: #00758f;
  text-shadow: 2px 2px 5px white;
}




#logo{
  display: flex;
  max-width: 50px;
  max-height: 70px;
  float: left;
}


nav {

  background-color: #FDAC53;
  color: white;

}

header  {
  max-width: 100%;
  max-height: auto;
  align-content: center;
  background: #FDAC53;
} 



li a:hover{
  background-color: #00758f;
  color: white;
}

.gradient-custom {
	
  background:  #00758f;
  background: -webkit-linear-gradient(to right, rgba(0, 117, 143, 1), rgba(95, 96, 99, 1));
  background: linear-gradient(to right, rgba(0, 117, 143, 1), rgba(95, 96, 99, 1));

}

footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FDAC53;
   color: white;
   text-align: center;
 }
 
footer a {
    color: white;
}
 
.btn {
   margin: 10px;
    background-color: #00758f;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*semhar*/

.profilePic {
  width: 100%;
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #FDAC53;
  color: white;
}
